body {
    background-color: #EEE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gentium Book Basic";
  }

h1 {
    font-size: 2em;
    background-color: #369;
    color: #DEF;
  padding: 16px;
  padding-left: 50px;
  margin: 0px;
  margin-left: -50px;
  margin-right: -16px
}

.container {
  font-family: "Charter";
  line-height: 1.5;
  width: 500px;
  border: 1px solid black;
  margin-left: 0;
  padding-left: 50px;
  padding-right: 16px;
  background-color: #FFF;
}


.ipa {
  font-family: "Monaco";
}


.admonition {
  padding: 16px;
  margin: 0px;
  margin-left: -50px;
  margin-right: -16px;
  padding-left: 50px;
  background-color: #DEF;
}


.admonition-title {
    display: block;
  font-family: "Gentium Book Basic";
font-size: 1.5em;
font-weight: bold;
}

.tooltip {
  font-weight: bold;
  border-bottom: 1px dotted #369;
}

    .tooltiptext {
    font-family: "Charter";
      visibility: hidden;
      --aside-offset: 1rem;
      --aside-offset-lineheight: 1.5rem;
      margin-bottom: calc(var(--padding) * 2);
      padding: var(--padding);
      position: absolute;
      left: 600px;
      width: var(--aside-width);
      border-radius: calc(var(--padding)/4);
      border: 1px solid black;
      background-color: #DEF;
      max-width: 100%;
      padding: 16px;
      margin: -16px;
  }

@media only screen and (max-width: 500px) {
  .tooltiptext {
    font-family: "Charter";
    visibility: hidden;
    position: absolute;
    margin: 0 -16px;
    border-radius: 6px;
    border: 3px solid #369;
    background-color: white;
    line-height: 1.5;
    left: 50px;
    transform: translateY(3em);
  }
}


.tooltipline {
  position: relative;
  display: block;
}

.tooltipline::after {
  content: "\a";
  white-space: pre;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover + .tooltiptext  {
  visibility: visible;
}

ul li {
list-style: none;
margin-left: 10px;
}

table {
margin-left: 50px;
line-height: 1.5;
border: 0;
}

td {
margin: 0;
padding: 0 18px 0 0;
}

.lexentry {
    margin-top: 2em;
    border-top: 1px solid black;
}

